.Rproj.user
.Rhistory
.RData
.Ruserdata
2020-04-13 p1 Cumulative Confirmed Cases (Top 5 Countries of Cumulative Confirmed Cases) .pdf
2020-04-13 p1 Cumulative Confirmed Cases (Top 5 Countries of Cumulative Confirmed Cases) .png
2020-04-13 p1-1 Cumulative Confirmed Cases (Top 5 Countries of Cumulative Confirmed Cases Including China) .pdf
2020-04-13 p1-1 Cumulative Confirmed Cases (Top 5 Countries of Cumulative Confirmed Cases Including China) .png
2020-04-13 p10 Incremental Death Cases (Top 5 Countries of Incremental Death Cases Including China) .pdf
2020-04-13 p10 Incremental Death Cases (Top 5 Countries of Incremental Death Cases Including China) .png
2020-04-13 p11 Incremental Death Cases (Top 5 States of Incremental Death Cases in U.S.) .pdf
2020-04-13 p11 Incremental Death Cases (Top 5 States of Incremental Death Cases in U.S.) .png
2020-04-13 p2 Incremental Confirmed Cases (Top 5 Countries of Cumulative Confirmed Cases) .pdf
2020-04-13 p2 Incremental Confirmed Cases (Top 5 Countries of Cumulative Confirmed Cases) .png
2020-04-13 p3 Incremental Confirmed Cases (Top 5 Countries of Incremental Confirmed Cases) .pdf
2020-04-13 p3 Incremental Confirmed Cases (Top 5 Countries of Incremental Confirmed Cases) .png
2020-04-13 p3_1 Incremental Confirmed Cases (Top 5 Countries of Incremental Confirmed Cases Including China) .pdf
2020-04-13 p3_1 Incremental Confirmed Cases (Top 5 Countries of Incremental Confirmed Cases Including China) .png
2020-04-13 p5 Cumulative Confirmed Cases (Top 5 States of Cumulative Confirmed Cases in U.S.) .pdf
2020-04-13 p5 Cumulative Confirmed Cases (Top 5 States of Cumulative Confirmed Cases in U.S.) .png
2020-04-13 p6 Incremental Confirmed Cases (Top 5 States of Incremental Confirmed Cases in U.S.) .pdf
2020-04-13 p6 Incremental Confirmed Cases (Top 5 States of Incremental Confirmed Cases in U.S.) .png
2020-04-13 p7-1 Crude Incidence Rate Cumulative (Including China and Hubei alone) .pdf
2020-04-13 p7-1 Crude Incidence Rate Cumulative (Including China and Hubei alone) .png
2020-04-13 p8-1 Cumulative Death Cases (Top 5 Countries of Cumulative Death Cases Including China) .pdf
2020-04-13 p8-1 Cumulative Death Cases (Top 5 Countries of Cumulative Death Cases Including China) .png
2020-04-13 p9 Cumulative Death Cases (Top 5 States of Cumulative Death Cases in U.S.) .pdf
2020-04-13 p9 Cumulative Death Cases (Top 5 States of Cumulative Death Cases in U.S.) .png
2020-04-13 table_1_crude_incidence_rate.csv
2020-04-13 table_1_crude_incidence_rate_all.csv
2020-04-13 table_1_crude_incidence_rate_ch.csv
2020-04-13 table_2_case_confirmed_latest_date.csv
2020-04-13 table_2_case_confirmed_latest_date_all.csv
2020-04-13 table_2_case_confirmed_latest_date_ch.csv
2020-04-13 table_3_case_death_latest_date.csv
2020-04-13 table_3_case_death_latest_date_all.csv
2020-04-13 table_3_case_death_latest_date_ch.csv
2020-04-13 table_4_confirmed_cases_and_incidence_rate_US.csv
2020-04-13 table_4_confirmed_cases_and_incidence_rate_US_all.csv
2020-04-13 table_4_confirmed_cases_and_incidence_rate_US_ch.csv
2020-04-13 table_5_confirmed_incremental_US.csv
2020-04-13 table_5_confirmed_incremental_US_all.csv
2020-04-13 table_5_confirmed_incremental_US_ch.csv
2020-04-13 table_6_fatality_US.csv
2020-04-13 table_6_fatality_US_all.csv
2020-04-13 table_6_fatality_US_ch.csv
2020-04-13 table_US_details_data_all.csv
2020-04-13 table_case_confirmed.csv
2020-04-13 table_case_confirmed_US.csv
2020-04-13 table_case_confirmed_incremental.csv
2020-04-13 table_case_confirmed_incremental_US.csv
2020-04-13 table_case_deaths.csv
2020-04-13 table_case_deaths_US.csv
2020-04-13 table_case_deaths_incremental.csv
2020-04-13 table_case_deaths_incremental_US.csv
2020-04-13 table_us_pct_test.csv
2020-04-13 table_us_positive_rate.csv
